<div class="topbar" id="top">
  <div class="container topbar__inner">
    <p class="topbar__msg"><span class="topbar__dot" aria-hidden="true"></span><span data-es="Logística biológica <span class='topbar__opt'>especializada </span>· EE.&nbsp;UU. y LATAM"><span class="topbar__opt">Specialized </span>biological logistics · US &amp; LATAM</span></p>
    <button class="langtoggle" id="langToggle" type="button" aria-label="Switch language / Cambiar idioma"><b data-lang="en">EN</b><span aria-hidden="true">/</span><b data-lang="es">ES</b></button>
  </div>
</div>
